.contacto-vista {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;

}

.formulario-contenedor {
  background: rgb(44, 43, 43);
  border-radius: 30px;
  width: 300px;
  height: auto;
}
.titulo-contacto {
  text-align: center;
}
.formulario-grupo {
  color: white;
  text-align: center;
  padding: 3px;
}

.input-text-form {
  width: 12rem;
  text-align: left;
}

.imagen-contacto {
  width: 300px;
}

.formulario-comentario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Mobile */
@media (max-width: 480px) {
  .contacto-vista {
    flex-direction: column;
    align-items: center;
  }

  .formulario-contenedor {
    width: 100%;
  }

  .imagen-contacto {
    width: 80%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .contacto-vista {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contacto-vista {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  .contacto-vista {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: 1200px) and (max-width: 1600px) {
  .contacto-vista {
    flex-direction: column;
    align-items: center;
  }
}
