.datos {
  color: white;
}

.contacto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icono-contacto {
  width: 25px;
  height: 25px;
  background: lawngreen;
}
