.icono-contacto {
  width: 16px;
  height: 16px;
  background: white;
}

/* Padre va el flex */
.seccion-contacto {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* formulario-contenedor lo usás para estilar el formulario en sí (padding, border, background, etc.), no para centrarlo.
*/
.formulario-contenedor {
  background: rgb(44, 43, 43);
  background-size: cover;
  border-radius: 30px;
  width: 300px;
  height: 470px;
  margin-bottom: 10px;
   text-align: center;
}

.formulario-grupo {
  color: white;
  text-align: center;
  padding: 3px;
}

.formulario-comentario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

textarea {
  width: 16rem;
  height: 70px;
}

.input-text-form {
  border-radius: 20px;
  width: 11rem;
}

.fieldset {
  display: flex;
  flex-direction: column;
}

.formulario-opcion {
  display: flex;
  align-items: center;
  margin: auto;
}

.label-text-form {
  width: 5rem;
}

.formulario-radio {
  margin: 10px;
}

.label-radio {
  width: 6rem;
}
