/* import los css de cada sección */
@import url(navegador.css);

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
}

h1,
h2,
h3,
p {
  margin: 0;
}

/*tipográfica*/

h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(2.2rem, 3vw, 3rem);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.6rem, 2.2vw, 2.4rem);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.3rem, 1.8vw, 1.8rem);
}

p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
}
