/* import los css de cada sección */
@import url(navegador.css);
@import url(contactos.css);
@import url(footer.css);
@import url(instrumentos-musical.css);
@import url(home.css);

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  line-height: 1.5;
  background: #353434;
}

h1,
h2,
h3,
p {
  margin: 0;

}

:root {
  /* Textos */
  --color-texto:   #ffffff;
  --color-titulo:  #ff6b6b;
  --color-precio:  #00ff99;

  /* Fondos */
  --bg-principal:  #1e2235;
  --bg-nav:        #252b42;
  --bg-card:       #2d3561;

  /* Acentos */
  --color-acento:  #00c9b1;
  --color-acento2: #ffd700;
}


/* general.css — aplica a todo */


body          { background: var(--bg-principal); }
h1, h2, h3 { color: var(--color-titulo); }
p          { color: var(--color-texto);  }





/*tipográfica*/

h1 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(2.2rem, 3vw, 3rem);
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.6rem, 2.2vw, 2.4rem);
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1.3rem, 1.1vw, 1.8rem);
}

p {
  font-family: "Nunito", sans-serif;
  font-size: clamp(1rem, 1.2vw, 1.1rem);
}

