/* Sección de instrumentos organizada en layaut grid 
   con espaciado y columnas automáticas */
.seccion-instrumentos {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  padding: 0 1.5em;
  gap: 10px;
}
/* Las tarjeta de cada instrumento con borde y diseño en columna */
.instrumentos {
  border: 2px solid cyan;
  width: 90%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.imagenes-centrado{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   
 height: 280px;


}


.imagenes-instrumentos{

  width: 100%;
  height: 100%; 
  object-fit:contain;
  
}

.card-productos {
  align-items: start;
}

.valor-instrumento {
  color: var(--color-precio);
}

.instrumento-detalle {
  padding: 0 1rem;
  text-align: left;
}

.prom-instrumento {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: left;
}

.prom-instrumento p {
  padding: 0 1rem;
}

.advertencia-producto h6 {
  margin: 0 1px 0 1px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.valor-antes {
  text-decoration: line-through red;
}

.comprar-instrumentos button {
  padding: 10px 20px;
}

.comprar-instrumentos {
  padding: 15px 32px;
  border-radius: 10px;
  margin-top: auto;
  width: 100%;
}

.titulo-seccion-card {
  text-align: center;
}

.comprar-instrumentos:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
 /* Mediaquerie **/
@media (max-width: 480px) {
  .instrumentos {
    width: 70%;
  }
  .instrumento-detalle h6 {
   font-size: 12px;
      
  }

  .instrumento-detalle p{
   font-size: 12px;
      
  }
   .valor-antes{
   
      font-size: 13px;
   } 
   .valor-instrumento{
    font-size: 10px;
   }

}
