
.card-productos{

   margin-top: 30px;
}

.seccion-instrumentos {
  margin-top: 30px;
  display: flex;
  justify-content:space-around ;
  gap: 20px;
  flex-wrap: wrap;
}

.instrumentos {
  border: 2px solid cyan;
  width: 20%;
  border-radius: 10px;
  margin-top: 30px;
}


.titulo {
  text-align: center;

}


/* Imágenes responsive */
.imagenes-instrumentos { 
  width: 100px;
  height: 120px;
  display: block;
  margin: 0 auto;
  object-fit: cover;
}
.prom-instrumento {
  text-align: center;
}

.valor-instrumento {
  color: var(--color-precio);
}
